# https://packaging.python.org/guides/using-manifest-in/
include README.md
include MANIFEST.in
include pyproject.toml
include requirements.txt
include setup.py
include LICENSE

include sited_py/__init__.py
include sited_py/conf.py

include sited_py/CHANGELOG.md
include sited_py/README_CN.*
include sited_py/README_EN.*

include sited_py/files/.gitignore
graft sited_py/lib
# Add all files (mean pattern/**) under directories matching dir-pattern # graft project_name

# ignore it under each dir
global-exclude .DS_Store
prune **/__pycache__
global-exclude *.pyc